.header {
  background-color: #fff4cc;
  padding: 2.4rem;
  border: 5px solid #ffc600;
  box-shadow: 0 2.4rem 4.8rem rgba(255, 200, 0, 0.07);
  height: 15vh;
}

.heading__primary {
  font-size: 4.4rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
  text-align: center;
  color: #333;
  font-weight: 700;
}

.heading__primary span {
  color: #b38b00;
  font-family: serif;
}

.travel {
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.travel__details {
  background-color: #fff4cc;
  padding: 1.6rem;
  box-shadow: 2.4rem 0 4.8rem rgba(255, 200, 0, 0.07);
}

.travel__form {
  max-width: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;

  background-color: #ffc600;
  padding: 2.4rem;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(255, 200, 0, 0.07);
}

.travel__form .flex {
  gap: 0.8rem;
}

.travel__form label {
  font-size: 1.8rem;
  font-weight: 500;
  color: #332800;
}

.travel__form input,
.travel__form textarea,
.travel__form--btn {
  width: 10rem;
  padding: 1.2rem;
  border-radius: 11px;
  border: 2px solid #ffc600;
  box-shadow: 0 1.2rem 2.4rem #ffc600;
  background-color: #fff4cc;
  outline: none;
}

.travel__form--btn {
  width: 100%;
  grid-column: 1 / -1;
  transition: all 0.3s ease-in-out;
}

.travel__details--list {
  margin-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.travel__log {
  background-color: #fff4cc;
  padding: 1.6rem;
  border-radius: 11px;
  border: 1px solid #ffc600;
  box-shadow: 0 2.4rem 4.8rem rgba(255, 200, 0, 0.07);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.travel__log:hover,
.travel__form--btn:hover {
  transform: scale(1.01) translateY(-0.8rem);
  box-shadow: 0 3.6rem 7.2rem rgba(255, 200, 0, 0.08);
}

.travel__log:active,
.travel__form--btn:active {
  transform: scale(0.9) translateY(0);
  box-shadow: 0 1.6rem 3.2rem rgba(255, 200, 0, 0.06);
}

.travel__log.flex {
  justify-content: space-between;
}

.travel__log--heading {
  font-size: 2.4rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: #332800;
}

.travel__log--date {
  font-style: italic;
  font-size: 1.6rem;
  color: #332800;
}

.travel__details--modal,
.location__info {
  position: absolute;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50rem;
  border-radius: 11px;
  background-color: #fff4cc;
  padding: 2.4rem;
  box-shadow: 0 4.8rem 9.6rem rgba(255, 200, 0, 0.07);
}

.travel__details--modal {
  z-index: 9999;
  background-color: #332800;
  color: #fff4cc;
}

.travel__modal--heading {
  font-size: 3rem;
  text-align: center;
  line-height: 1.05;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.travel__details--modal .flex {
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.travel__modal--date,
.travel__modal--costs,
.travel__modal--duration {
  display: inline-block;
  font-weight: 500;
  font-style: italic;
  font-size: 1.6rem;
  padding: 0.6rem 1.2rem;
  border-radius: 100px;
}

.travel__modal--date {
  background-color: rgba(0, 255, 255, 0.3);
}

.travel__modal--duration {
  background-color: rgba(255, 255, 0, 0.3);
}

.travel__modal--costs {
  background-color: rgba(255, 0, 0, 0.3);
}

.travel__modal--summary {
  padding: 2.4rem;
}

.travel__modal--summary legend {
  font-size: 2rem;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  background-color: rgba(218, 112, 214, 0.3);
  border-radius: 100px;
}

.summary {
  font-size: 2rem;
  line-height: 1.6;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  background-color: #332800;
  opacity: 75%;
  filter: blur(100px);
}

/* ---- Location Info---- */
.location__info {
  background-color: #332800;
  color: #fff4cc;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.location__info--text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.location__info label {
  font-size: 1.8rem;
  font-weight: 500;
}

.location__info input {
  margin-top: -0.6rem;
  padding: 1rem;
  border-radius: 11px;
}

/* Leaflet related desing */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #332800;
}

.leaflet-popup-content {
  color: #fff4cc;
  font-size: 1.4rem;
  font-style: italic;
}

.leaflet-popup-close-button span {
  color: #fff4cc;
}

/* Footer */
.footer {
  background-color: #332800;
  color: #fff4cc;
  padding: 1.6rem;
}

.footer p {
  font-size: 1.4rem;
  line-height: 1.6;
}
