.travel {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.travel__details {
  /* temporary */
  border: 2px solid red;
  padding: 1.6rem;
}

.travel__form {
  max-width: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;

  /* temporary */
  border: 1px solid #777;
  padding: 1.2rem;
  margin-block: 2rem;
}

.travel__form .flex {
  gap: 0.6rem;
}

.travel__form label {
  font-size: 1.6rem;
  font-weight: 500;
}

.travel__form input,
.travel__form textarea {
  width: 10rem;
  padding: 0.6rem;
  outline: none;
}
